:root {
    --pri-color: #00A6FB;
    --sec-color: #006494;
    --tri-color: #051923;
    --white-color: #FAFFFD;
    --black-color: #313638;
}

body {
    font-family: 'Comic Relief', cursive;
    background-color: var(--white-color);
    color: var(--black-color);
}

.container {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    list-style: none;
    padding: 5px;
    font-size: 1rem;
}

.listName {
    font-size: 1.5rem;
    font-weight: bold;
}